@import url('https://fonts.googleapis.com/css?family=Lora|Slabo+27px');
body{
    background-color: #ced3dc;
}
h1,h2{
    font-family: 'Lora', serif;
}
nav{
    display:table;
    width:70%;
    margin: 0 15%;
}
.mainbody{
    background-color: #fcf7f8;
    color:#5b616a;
    margin: 0 15% -15px 15%;
    padding:20px;
    font-family: 'Slabo 27px', serif;
}
nav ul {
    list-style-type: none;
    display:flex;
    flex-direction:row;
    justify-content: center;
    font-family: 'Slabo 27px', serif;
    padding-left:0;
    margin-bottom: 0;
}
.mainbody ul{
    padding: 0;
    overflow: hidden;
    margin: 0px;
    font-family: 'Slabo 27px', serif;
}
img{
    max-width:100%;
    max-height:100%;
}
.currentPage a, .currentPage a:visited{
    background-color: #fcf7f8;
    color: #9a8c98;
    font-style: italic;
    border: none;
    border-top: 1px solid #fcf7f8;
}
nav li {
    float: left;
    margin: 0px 0px;
    flex:1;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #aba9c3;
    font-size: 19px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 1px solid #5b616a;
    border-bottom: none;
}
li a:link{
    color:#5b616a;
}
li a:visited{
    color:#5b616a;
}
li a:hover {
    background-color: #9a8c98;
}