@import url('https://fonts.googleapis.com/css?family=Lora|Slabo+27px');
body{
    background-color: #ced3dc;
}
h1,h2{
    font-family: 'Lora', serif;
}
nav{
    display:table;
    margin: 0 auto;
}
.mainbody{
    background-color: #fcf7f8;
    border:3px solid #aba9c3;
    color:#5b616a;
    margin: 10px 15%;
    padding:20px;
    border-radius: 10px;
    font-family: 'Slabo 27px', serif;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin: 0px;
    font-family: 'Slabo 27px', serif;
}
.currentPage a{
    background-color: #aba9c3;
}
li {
    float: left;
    margin: 0px 10px;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border:3px solid #aba9c3;
    background-color: #fcf7f8;
    border-radius: 10px;
    font-size: 20px;
}
li a:link{
    color:#5b616a;
}
li a:visited{
    color:#5b616a;
}
li a:hover {
    background-color: #9a8c98;
}